body {
  background-color: #16697a;
  color: #f8f1f1;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  text-decoration: underline;
}

.input-area {
  padding: 1rem 7rem;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-gap: 5px;
  justify-content: center;
}

.input-area > input {
  display: block;
  border: 3px solid #db6400;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
}

.input-area > button {
  border: none;
  border-radius: 5px;
  background-color: #ffa62b;
  border: 3px solid #ffa62b;
  font-size: 1.5rem;
  color: #16697a;
  font-weight: bold;
}

.input-area > button:hover {
  cursor: pointer;
}

.item-list {
  margin: auto;
  width: 50%;
}

.item-list > .card {
  margin-top: 3rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 7fr 1fr;
  border: 1px solid #db6400;
  border-radius: 5px;
}

.item-list .card .item-quantity {
  padding: 1rem;
  border-left: 1px solid #db6400;
  text-align: center;
}

.item-list .card .item-name {
  padding: 1rem;
}
